.swal2-popup {
	font-size: 1.4rem !important;
}

#formLogin {
	padding: 20px;
}

ul.pull-right {
	list-style: none;
}

.logo a {
	display: block;
}

.logo img {
	height: 60px;
}

.right-menu {
	margin-top: 15px;
	position: absolute;
	right: 10px;
	display: inline-block;
}

.menu-link {
	font-weight: bold;
	font-size: 20px;
}

.inline-block {
	display: inline-block;
}

.btnDelete{
	margin-left: 10px;
}